[submodule "components/esp_libmbus"]
	path = components/esp_libmbus
	url = https://github.com/DerZwergGimli/esp_libmbus
[submodule "components/esp_cron"]
	path = components/esp_cron
	url = https://github.com/DerZwergGimli/esp_cron
[submodule "components/esp32-websocket"]
	path = components/esp32-websocket
	url = https://github.com/Molorius/esp32-websocket.git
[submodule "components/mongoose-esp-idf"]
	path = components/mongoose-esp-idf
	url = https://github.com/cesanta/mongoose-esp-idf.git
